@import "tailwindcss";


:root {

  --background:#071522;

  --foreground:#ffffff;

}


/* базовые настройки */


* {

  box-sizing:border-box;

}



html {

  scroll-behavior:smooth;

}



/* якоря */


#hero,
#services,
#portfolio,
#process,
#contact {

  scroll-margin-top:100px;

}





body {

  background:#071522;

  color:white;

  font-family:
  var(--font-inter),
  sans-serif;

  overflow-x:hidden;

}





h1,
h2,
h3 {

  font-family:
  var(--font-manrope),
  sans-serif;

  font-weight:300;

}





::selection {

  background:#b8ddff;

  color:#071522;

}





button {

  cursor:pointer;

}





a {

  text-decoration:none;

}





img {

  user-select:none;

}





html,
body {

  width:100%;

  max-width:100%;

  overflow-x:hidden;

@media (max-width:768px){

  * {
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
  }

}

}